  <!-- Navigation -->
  <nav class="side ">
    <div class="navigation default">
      <ul></ul>
    </div>
  </nav><!-- Panel Top #02 -->
  <nav class="panel top hideOnScroll firstSlideOnly">
    <div class="sections desktop">
      <div class="left"><a href="/" title="Love Nails Algonquin"><img alt="Love Nails Algonquin" src="assets/svg/logo-header.svg" width=200; /></a></div>
      <div class="right">
        <span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span>
      </div>
    </div>
    <div class="sections compact hidden">
      <div class="left"><a href="#" title="Love Nails Algonquin"><img alt="Love Nails Algonquin" src="assets/svg/logo-header.svg" width=200; /></a></div>
      <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
    </div>
  </nav>
  
  <!-- Sidebar -->
  <nav class="sidebar" data-sidebar-id="1">
    <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
    <div class="content">
      <a href="/" class="logo"><img alt="Love Nails Algonquin" src="assets/svg/logo-header.svg" width=200; /></a>
      <ul class="mainMenu margin-top-3">
        <li><a href="/#nails">Nails</a></li>
        <li><a href="/#manicure">Manicure</a></li>
        <li><a href="/#pedicure">Pedicure</a></li>
        <li><a href="/#extra">Extra Services</a></li>
        <li><a href="/#contact">Contact Us</a></li>
        
      </ul>
      <ul class="social opacity-8">
        <li><a href="https://www.facebook.com/pages/category/Nail-Salon/Love-Nails-Algonquin-221328118036975/"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
        <li><a href="https://www.instagram.com/lovenailsalgonquin/"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg></a></li>
      </ul>
    </div>
  </nav>